<div class="container valign-wrapper"> 
    <div class="row">
        <form class="col s12 login_form" method="post" action="{{ path }}/checklogin">
            <div class="cl s12">
                <i class="large material-icons prefix">person</i>
            </div>
            <div class="input-field col l6 offset-l3 m8 offset-m2 s10 offset-s1">
                <input placeholder="Enter your username" id="user_name" type="text" class="validate" name="user">
                <label for="user_name">Username</label>
            </div>
            <div class="input-field col l6 offset-l3 m8 offset-m2 s10 offset-s1">
                <input placeholder="Enter your password" id="password" type="password" class="validate" name="pw">
                <label for="password">Password</label>
            </div>
            <div class="col l6 offset-l3 m8 offset-m2 s10 offset-s1 right">
                <label>
                    <a class='pink-text' href='{{ path }}/forgot_password'><b>Forgot Password?</b></a>
                </label>
            </div>
            <div class="col s12">
                <button class="btn waves-effect waves-light user_color" type="submit" name="submit">
                    Log In<i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        <div class="col s12">
            <a class="waves-effect waves-light" href="{{ path }}/signin">Create Account</a>
        </div>
    </div>
</div>