<div class="row">
    <div class="center-align">
        <h2>Manage Events</h2>
    </div>
    <div class="col s12 admin_events">
        <div class="center-align">
            <h5>Current events</h5>
        </div>
        {{ current_events }}
    </div>
    <div class="col s12 admin_events">
        <div class="center-align">
            <h5>Draft events</h5>
        </div>
        {{ draft_events }}    
    </div>
    <div class="col s12 admin_events">
        <div class="center-align">
            <h5>Past Events</h5>
        </div>
        {{ past_events }}
    </div>
    <div class="col s12 admin_events">
        <div class="center-align">
            <h5>Trash</h5>
        </div>
        {{ trash_events }}
    </div>
</div>