<div class="row">
    <div class="center-align">
        <h2>Admin Dashboard</h2>
    </div>
    <div class="col s8 offset-s2 m5 offset-m1 l3 offset-l3 ">
        <div class="dashboard_elt">
            <a href="{{ path }}/admin/create_event" class="main_color_txt">
                <i class="material-icons large">add_box</i>
                <h5 class="main_color_dark_txt">Create an event</h5>
            </a>    
        </div>
    </div>
    <div class="col s8 offset-s2 m5 l3">
        <div class="dashboard_elt">
            <a href="{{ path }}/admin/manage_events" class="main_color_txt">
                <i class="material-icons large">event_available</i>
                <h5 class="main_color_dark_txt">Manage Events</h5>
            </a>    
        </div>
    </div>
    <div class="col s8 offset-s2 m5 offset-m1 l3  offset-l3">
        <div class="dashboard_elt">
            <a href="{{ path }}/admin/manage_tickets" class="main_color_txt">
                <i class="material-icons large">view_list</i>
                <h5 class="main_color_dark_txt">Manage Tickets</h5>
            </a>    
        </div>
    </div>
    <div class="col s8 offset-s2 m5 l3 ">
        <div class="dashboard_elt">
            <a href="{{ path }}/admin/manage_accounts" class="main_color_txt">
                <i class="material-icons large"> group</i>
                <h5 class="main_color_dark_txt">Manage Accounts</h5>
            </a>    
        </div>
    </div>
    
    <!--TO ADD LATER // (and add also in dropdown menu for admin)
    <div class="col s12 m6 l4 ">
        <div class="dashboard_elt">
            <a href="{{ path }}/admin/manage_locations" class="main_color_txt">
                <i class="material-icons large">location_city</i>
                <h5 class="main_color_dark_txt">Manage Locations</h5>
            </a>    
        </div>
    </div>
    <div class="col s12 m6 l4 ">
        <div class="dashboard_elt">
            <a href="{{ path }}/admin/manage_images" class="main_color_txt">
                <i class="material-icons large">image</i>
                <h5 class="main_color_dark_txt">Manage Images</h5>
            </a>    
        </div>
    </div>
-->
   
</div>