<div class="row">
    <div class="center-align">
        <h2>Manage Events</h2>
    </div>
    <div class="col s12 admin_events red-text">
        {{ msg }}
    </div>
    <div class="col s12 admin_events">
        <div class="center-align">
            <h4>Current events</h4>
        </div>
        {{ current_events }}
    </div>
    <div class="col s12 admin_events">
        <div class="center-align">
            <h4>Draft events</h4>
        </div>
        {{ draft_events }}    
    </div>
    <div class="col s12 admin_events">
        <div class="center-align">
            <h4>Past Events</h4>
        </div>
        {{ past_events }}
    </div>
<!--
    <div class="col s12 admin_events">
        <div class="center-align">
            <h4>Trash</h4>
        </div>
        {{ trash_events }}
    </div>
-->
</div>