<div class="col s10 offset-s1" id="event{{ event_id }}">
    <div class="admin_each_event">
        <div class="col l1 tiny_img">
            <img src="{{ path }}/{{ image_src }}" alt="{{ image_alt }}">        
        </div>
        <div class="col l7 admin_each_event_text">
            <strong>Event name: {{ name }}, </strong>Location: {{ location }}, Public: {{ public_txt }}     
            <br/>Start: {{ start_weekday }} {{ start_date }} at {{ start_time }}, End: {{ finish_weekday }} {{ finish_date }} at {{ finish_time }}
            <br/>Prices: {{ prices_inline }}  
        </div>
        <div class="col l2">
            <span class="red-text">
                {{ enabled }}
            </span> 
        </div> 
        <div class="col l2">
            <a href="{{ path }}/admin/modify_event/{{ event_id }}">Modify</a> /     
            <a href="{{ path }}/admin/duplicate_event/{{ event_id }}">Duplicate</a> /     
            <a href="{{ path }}/admin/delete_event/{{ event_id }}">Delete</a>     
        </div>
    </div>
</div>