<div class="col s10 offset-s1 m8 offset-m1 l6 offset-l3" id="ticket{{ ticket_id }}">
    <div class="each_ticket">
        <h5>{{ evt_date }} - {{ evt_name }} - <em><a href="{{ path }}/see_event/{{ event_id }}">See event</a></em></h5>
        <div>{{ tickets }}</div>
        <div><strong>{{ total }} / {{ status }}</strong></div>
        <div class="tiny-text"><em>To cancel or modify your booking, please contact the organisation at this <a href="mailto: merialdo.gaelle@gmail.com">link.</a></em></div>
    </div>
</div>