<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i id="user-circle" class='fas fa-user-circle fa-2x'></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Account Settings</a>
        <a class="dropdown-item" href="#">My Tickets</a>
        <a class="dropdown-item" href="#">Log out</a>
    </div>
</li>
