<nav class="user_color button-collapse">
    <div class="nav-wrapper">
        <a href="{{ orga_website }}" class="brand-logo">
            <h5>{{ orga_name }}</h5>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{ navbar_switch }}
            <li><a href="{{ path }}/events">See all events</a></li>
            <li><a href="{{ path }}/events/help">Help</a></li>
            {{ navbar_accountoption }}
        </ul>
    </div>
</nav> 
{{ navbar_accountdropdown }}