<li>
    <a class="dropdown-trigger" href="#!" data-target="account_dropdown_admin">
        <i class="material-icons">settings_applications arrow_drop_down</i>
    </a>
    <ul id="account_dropdown_admin" class="dropdown-content">
        <li><a href="{{ path }}/admin/create_event">Create Event</a></li>
        <li><a href="{{ path }}/admin/manage_events">Manage Events</a></li>
        <li><a href="{{ path }}/admin/manage_tickets">Manage Tickets</a></li>
        <li><a href="{{ path }}/admin/manage_accounts">Manage Accounts</a></li>
        <li class="divider"></li>
        <li><a href="{{ path }}/logout">Log out</a></li>
    </ul>
</li>
