<li><i class="material-icons">settings_applications</i></li>
<li><a class="white-text" href="{{ path }}/admin/account_settings">Account Settings</a></li>
<li><a class="white-text" href="{{ path }}/admin/create_event">Create Event</a></li>
<li><a class="white-text" href="{{ path }}/admin/manage_events">Manage Events</a></li>
<li><a class="white-text" href="{{ path }}/admin/manage_tickets">Manage Tickets</a></li>
<li><a class="white-text" href="{{ path }}/admin/manage_accounts">Manage Accounts</a></li>
<li class="divider"></li>
<li class="white logout_mobile"><a href="{{ path }}/logout">Log out</a></li>


