<!DOCTYPE html>

<html lang="en-US">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--<link type="text/css" rel="stylesheet" href="{{ path }}/layout/css/materialize.min.css" media="screen,projection"/>-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ path }}/layout/css/{{ user_or_admin_style }}"/>
        <link rel="stylesheet" href="{{ path }}/layout/css/style.css"/>
        <title>{{ pageTitle }}</title>
    </head>

    <body>
        
        {{ navBar }}
        
        <div id="page_content" class="main_color_txt">

            {{ content }}
            
        </div>
        
        {{ footer }}

        <!--JavaScript at end of body for optimized loading-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>    
        <!--<script type="text/javascript" src="{{ path }}/layout/js/materialize.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ path }}/layout/js/init.js"></script>


    </body>

</html>


