.main_color { background-color: rgb(0, 151, 167) !important; }

.main_color_txt { color: rgb(0, 151, 167) !important; }

.main_color_light { background: rgba(0, 151, 167, 0.2) !important; }

.main_color_dark { background-color: rgb(0, 96, 100) !important; }

.main_color_dark_txt { color: rgb(0, 96, 100) !important; }

.bottom_line { border-bottom: solid 1px rgba(0, 151, 167, 0.2); }

.align_left { text-align: left; }

/* -----------------------navbar--------------------------- */

.brand-logo { margin-left: 10px; }

.brand-logo a { max-height: 100vh; }

ul#account_dropdown { top: 64px !important; }

/* ----------------------page content---------------------- */

div#page_content {
  min-height: 60vh;
  justify-content: center;
  text-align: center;
}

/* --admin dashboard--- */

div.dashboard_elt {
  padding-left: 15px;
  margin-top: 15px;
  border: solid 4px;
  border-radius: 5px;
}

div#div_max_tickets { display: none; }

div#div_price_adult_mb { display: none; }

div#div_price_adult { display: none; }

div#div_price_child_mb { display: none; }

div#div_price_child { display: none; }

div.admin_events { margin-top: 10px; }

div.admin_each_event { margin-top: 20px; }

.admin_each_event_text { text-align: left; }

.tiny_img img {
  height: 50px;
  max-width: 100px;
}

div.admin_accounts { margin-top: 10px; }

div.admin_each_account { margin-top: 20px; }

/* --all events page-- */

div.each_event {
  padding-left: 15px;
  margin-top: 15px;
  border: solid 4px;
  border-radius: 5px;
  line-height: 4px;
}

.each_event img {
  height: 15vh;
  max-width: 100%;
}

/* ----login page----- */

form.login_form { margin-top: 20px; }

form.signin_form { margin-top: 20px; }

/* ----event page----- */

div.one_event {
  border: solid 3px;
  border-radius: 5px;
  margin-top: 10px;
  width: 90vw;
}

div#img_event { height: 30vh; }

#img_event img {
  height: 90%;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div#info_event {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.tickets_btn { margin: 5px; }

/* ----booking page--- */

form.booking_form { margin-top: 20px; }

/* ----my tickets----- */

div.each_ticket {
  padding-left: 15px;
  margin-top: 15px;
  border: solid 4px;
  border-radius: 5px;
}

.tiny-text { font-size: 0.85rem; }

/* ----------------------small screens---------------------- */

@media only screen and (max-width: 767px) {

  h3 { font-size: 2rem; }

  h5 {
    font-size: 1.2rem;
    line-height: 90%;
  }
}
