.user_color{background-color: darkslateblue !important;}

.user_color_txt{color: darkslateblue !important;}

.brand-logo{margin-left: 10px;}

.brand-logo a{max-height: 100vh;}

ul#account_dropdown{top: 64px !important;}

div#page_content{min-height: 60vh; justify-content: center; text-align: center;}

div.each_event{padding-left: 15px; margin-top: 15px; border: solid 4px; border-radius: 5px; line-height: 4px;}

.each_event a{color: none;}

.each_event img{height: 15vh; max-width: 100%;}

form.login_form{margin-top: 20px;}

@media only screen and (max-width: 767px){
    h5{font-size: 1.2rem;line-height: 90%;}
}

